@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Jua&family=Noto+Sans+KR:wght@400;500&display=swap');
.splash{width: 100%;height: 100%;}
.splash_logos{width: 100%;text-align: center;padding: 1px 0;position: absolute;top: 45%;transform: translateY(-50%);}
.splash_logos p {font-size: 1.6rem;font-family: 'Gugi', cursive;font-family: 'Jua', sans-serif;font-family: 'Noto Sans KR', sans-serif;}